venv/
wandb/
.ipynb_checkpoints/
*.pyc
__pycache__/
environment.yml
requirements.txt
data/aqsoldb_temp/
data/aqsoldb_test/
data/aqsoldb_test_s/
data/aqsoldb_train/
data/aqsoldb_train_s/
data/aqsoldb_valid/
data/aqsoldb_valid_s/
data/scale_data_s.log
data/solubility_dataset_1.csv
data/solubility_dataset.csv
data/solubility-dataset-train.csv
data/solubility-dataset-test.csv
data/temp_dataset.csv
data/temp_s.csv
data/validation_s.csv
data/test_s.csv
data/train_s.csv
scaffold/scaffold_groups.png
scaffold/tanimoto_logs_data.csv
pre_processor/test_torch_dataset.pt
pre_processor/train_torch_dataset.pt
